/* Setting up the base style for the site */

body{
    background-color:#ffdfce;
    font-family:Helvetica;
    position:relative;
    margin:0;
}
h4{
    color:IndianRed;
    font-family:Helvetica;
}
h1{
    font-family:Helvetica;
    color:rgb(146, 42, 42)
}

/* Stuff for the navigation bar */

.navi-bg{
    background-color:#d45959;
    display:flex;
    min-width:100vw;
    min-height:75px;
}

.navi{

    display:flex;
    justify-content:center;
    align-items:center;
}
.navi-link a{
    color:white;
    font-family:Helvetica;
    text-decoration:none;
    padding-left:25px;
    padding-right:25px;
}

/* Stuff for the home page and also base code for some other style rules */

.welcome{
    padding:5px 5px 0px 25px;
}

.center{
    display:flex;
    justify-content:center;
}
.homepg-txt{
    padding:0px 30px 10px 25px;
}

.homepg-main{
    height:75vh;
}

.homepg-img{
    padding:0px 25px 0px 0px;
}

/* Stuff for the footer */

.footer{
    display:flex;
    background-color:#d45959;
    margin-top:auto;
    bottom:0;
    width:100vw;
    align-items:center;
    justify-content:center;
}

.footer-content{
    color:white;
    font-family:Helvetica;
    text-align:center;
}

.footer-content h6{
    font-size:16px;
    margin:25px 0px 10px 0px;
}

.footer-content p{
    font-size:14px;
    margin-bottom:25px;
}